<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Connect{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/webGhoul.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/connect.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/global.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='fonts/cairo.css') }}"
    />
  </head>
  <body>
    <main>
      {% include './components/header.html' %} {% include
      './components/alert.html' %} {% block content %}{% endblock %} {% include
      './components/footer.html' %}
    </main>
  </body>
</html>
