{% extends "base.html" %} {% block content %}
<section>
  <div class="contain grid jcs aic g30">
    {% set title = "Post View" %} {% include './components/head.html' %} {%
    include "./components/post.html" %}
    <div class="comments grid jcs aic g20">
      <h2>Comments</h2>
      <form
        method="post"
        action="/display_post/{{post.post_id}}"
        class="flex jcsb aic g10"
        style="padding: 0"
      >
        <div class="form_box form_comment grid jcs aic g5">
          <input
            type="text"
            class="form-control"
            id="comment"
            name="comment"
            placeholder="Comment..."
            required
          />
        </div>
        <button type="submit" class="form_button">Add</button>
      </form>
      <div class="comments_box grid jcs aic g20">
        {% for comment in comments|reverse %} {% include
        './components/comment.html' %} {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
