{% extends "base.html" %} {% block content %}
<section>
  <div class="contain grid jcs aic g20">
    {% set title = "Log in to Connect" %} {% include './components/head.html' %}
    <form method="post" action="/login" class="grid jcs aic g30">
      <div class="form_box grid jcs aic g5">
        <label for="username" class="form_label">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          name="username"
          required
        />
      </div>
      <div class="form_box grid jcs aic g5">
        <label for="password" class="form_label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      <button type="submit" class="form_button center_x">Log In</button>
    </form>
  </div>
</section>
{% endblock %}
