{% extends 'base.html' %} 
{% block content %}
<section>
  <div class="contain">
    {% set title = "Register to Connect" %} 
    {% include './components/head.html' %}
    <form method="post" action="/register" class="grid jcs aic g30" enctype="multipart/form-data">
      <div class="form_box grid jcs aic g5">
        <label for="username" class="form_label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required />
      </div>
      <div class="form_box grid jcs aic g5">
        <label for="password" class="form_label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required />
      </div>
      <div class="form_box grid jcs aic g5">
        <label for="profile_photo" class="form_label">Profile Photo</label>
        <input type="file" class="form-control" id="profile_photo" name="profile_photo" accept="image/*" />
      </div>
      <button type="submit" class="form_button center_x">Register</button>
    </form>
  </div>
</section>
{% endblock %}
